{
  "username": "admin",
  "password": "change-this-password",
  "companyName": "Seerua Appliance Care",
  "whatsapp": "9389585479",
  "email": "b4india@gmail.com",
  "maintenanceMode": false,
  "maintenanceMessage": ""
}
