{
  "smsEnabled": false,
  "whatsappEnabled": false,
  "authkey": "",
  "smsTemplateId": "",
  "smsSenderId": "",
  "whatsappIntegratedNumber": "",
  "whatsappTemplateName": "",
  "completionSmsTemplateId": "",
  "completionWhatsappTemplateName": ""
}
